<!-- sections/flexi-gallery.liquid -->
<div class="flexi-gallery-header">
  <h1 class="flex-heading">{{ section.settings.title }}</h1>
  <p>{{ section.settings.subtitle }}</p>
</div>

<div class="flexi-gallery-row">
  {% for block in section.blocks %}
    <div class="flexi-gallery-column">
      {% if block.settings.image1 %}
       <img src="{{ block.settings.image1 | img_url: '600x' }}" alt="" style="width:100%">
      {% endif %}
      {% if block.settings.image2 %}
        <img src="{{ block.settings.image2 | img_url: '600x' }}" alt="" style="width:100%">
      {% endif %}
      {% if block.settings.image3 %}
         <img src="{{ block.settings.image3 | img_url: '600x' }}" alt="" style="width:100%">
      {% endif %}
    </div>
  {% endfor %}
</div>

<style>
.flexi-gallery-header {
  text-align: center;
  padding: 32px;
}

.flexi-gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flexi-gallery-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.flexi-gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive */
@media (max-width: 800px) {
  .flexi-gallery-column {
    flex: 50%;
    max-width: 50%;
  }
}
.flex-heading{
    font-size:24px;
}

@media (max-width: 600px) {
  .flexi-gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>
{% schema %}
{
  "name": "Flexi Image Gallery",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Gallery Title",
      "default": "Responsive Image Gallery"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Resize the browser window to see the responsive effect."
    }
  ],
  "blocks": [
    {
      "type": "image_column",
      "name": "Image Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image 3"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "Flexi Image Gallery",
      "category": "Custom",
      "blocks": [
        {
          "type": "image_column"
        },
        {
          "type": "image_column"
        }
      ]
    }
  ]
}
{% endschema %}

